* {
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

:root {
    /* Cores */
    --color-brand:#EF5F4C;
    --color-background:#FFFFFF;
    --color-surface:#F5F5F5;
    --color-skeleton:#D9D9D9;
    --color-shape-transparency: rgba(255, 255, 255, 0.281);
    /* Cor de texto */
    --text-color-primary:#313131;
    --text-color-secondary:#6C6C6C;
}